[submodule "thesis-report"]
	path = thesis-report
	url = git@github.com:ccberg/LA-report.git
[submodule "examples/side-channel-analysis-toolbox"]
	path = examples/side-channel-analysis-toolbox
	url = https://github.com/AISyLab/side-channel-analysis-toolbox.git
[submodule "examples/AISY_Framework"]
	path = examples/AISY_Framework
	url = https://github.com/AISyLab/AISY_Framework.git
